.button {
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--primary);
  font-weight: bold;
  background-color: white;
  min-width: 6rem;
}

.button:hover {
  background-image: linear-gradient(rgb(0 0 0/15%) 0 0);
  cursor: pointer;
}

.button.primary {
  background-color: var(--primary);
  color: white;
}
