.container {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.poolInfo {
  margin: 6rem auto;
  max-width: 60rem;
}

.metadataContainer {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2.5rem;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5);
}

.title {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.spaceBetweenRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.poolIdContainer {
  margin-right: 1rem;
  margin-left: 1rem;
}

.primaryTextColor {
  color: var(--primary);
}

.button {
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--primary);
  font-weight: bold;
  background-color: white;
}

.button:hover {
  background-image: linear-gradient(rgb(0 0 0/15%) 0 0);
  cursor: pointer;
}

.button.primary {
  background-color: var(--primary);
  color: white;
}

.metadataGrid {
  margin: 2.5rem 0;
  display: grid;
  gap: 2rem 1rem;
  grid-template-columns: 33% 33% 33%;
}

.infoLabel {
  display: flex;
  flex-direction: column;
  height: 2.5rem;
  justify-content: space-between;
}
