.header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary);
  border-bottom: 1px solid var(--border);
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5);
}

.row {
  display: flex;
  flex-direction: row;
}

.homeButton:hover {
  cursor: pointer;
}
