.header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgb(40, 40, 40);
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5);
}
